.upgrade {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    width: 100%;
    border-bottom: 1px solid var(--light-primary);
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.upgrade-container {
    color: var(--light-secondary);
}

.upgrade-container > h3 {
    color: var(--light-primary);
}

