.page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: var(--dark-primary);
  font-family: "Roboto Slab", serif;
  gap: 10px;
}

.modal {
  width: 50%;
  height: 50%;
}