.clicker {
  grid-column: 2 / span 1;
  grid-row: 2 / span 5;
  border: 1px solid var(--dark-secondary);
  border-radius: 3px;
  width: 97%;
  height: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clicker > button {
    background-color: var(--dark-primary);
    color: var(--dark-secondary);
    border: 1px solid var(--dark-secondary);
    border-radius: 3px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
    height: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.clicker > button:hover {
    background-color: var(--dark-secondary);
    color: var(--light-primary);
}
