.header {
    grid-column: 1 / span 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
}

.title {
    grid-column: 2 / span 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Tektur', cursive;
    color: var(--light-primary);
}